.day:hover {
    background-color: beige;
}



/* STYLES FOR COLOUR CODED WEATHER BACKGROUNDS */
.cold {
    background-color: rgb(148, 233, 233);
}

.moderate {
    background-color: rgb(241, 205, 138);
}

.good {
    background-color: rgb(126, 235, 198);
}